.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-category {
    li {
        display: block;
        text-align: left;
        &:hover {
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.product-list {
    display: inherit;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 20px;
}
.product {
    margin: 10px 30px;
    line-height: 10px;
    img {
        border-radius: 5px;
    }
 }

 