///////*CONTACT PAGE STYLING *///////

/*RESIZE CONTACT FORM INPUTS */
 .contact-input {
    width: 268px;
}
.contact-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.contact-form,
.address {
    min-width: 280px;
    padding: 10px;
    text-align: left;
}
