.login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .login,
    .register {
        width: 20vw;
        } 
    .form-msg {
        font-size: 0.9rem;
    }
}

.register {
    display: none;
}

