///////* PRODUCT PAGE - DESCRIPTION/ADD TO BASKET *///////
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:20px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: $primary-color;
}
.product-image {
    min-width: 200px;
    display: none;
    border-radius: 5px;
}

.product-description  {
    width: 300px;
    min-width: 200px;
    padding-left: 5px;
}

/* CHANGE IMAGE */
.prevImage,
.nextImage {
    cursor: pointer;
    padding: 5px;
    color: darken($primary-color, 10%);
    transition: 0.6s ease;
    &:hover {
    color: $font-color;
    opacity: 0.8;
    }
}

/*QUANTITY SELECTOR*/
.quantity {
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: $background;
    text-align: inherit;
    width: 35px;
}

/* ADD TO BASKET BUTTON */
.add {
    padding: 10px;
    background-color:darken($primary-color, 10%);
    &:hover {
        background-color: darken($primary-color, 20%);
        cursor: pointer;
    }
}
