//IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap');

//VARIABLES
$background: #F0EFEB;
$primary-color: #EDDCD2;
$font-color: #72725A;
$san-serif-font: 'Raleway', sans-serif;
$serif-font: 'Mr Bedfort', serif ;

/*HOME PAGE & GLOBAL STYLING */
body {
    background-color: $background;
    margin: 0;
    padding: 0;
    font-family: $san-serif-font;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: $font-color;
    box-sizing: border-box;
}

/* HEADER & FOOTER STYLING */

logo-header {
    background-color: $primary-color;
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
    margin: 5px, 0;
}

main-header,
main-footer {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}
.nav-links-right {
    padding-right: 30px;
}

main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

h1 {
    font-family: $serif-font;
}

.page-container {
    position: relative;
    min-height: 100vh;
}
.content-wrap {
    padding-bottom: 5rem;    /* Footer height */
  }

/* GLOBAL LINK STYLING */
li {
    display: inline-block;
    margin: 5px;
}
a {
    text-decoration: none;
    color: $font-color;
    &:hover {
        font-weight: bold; 
    }
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid $primary-color;
}

/* GLOBAL BUTTON STYLING */
button {
    background-color: $primary-color;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: $font-color;
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

/*GLOBAL FORM STYLING */
form {
    display: flex;
    justify-content: center;
} 

input,
textarea,
select
    {
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    border: 1px solid transparent;
    outline: none;
    box-shadow: 1px 1px 3px;
    font-family: inherit;
    color: inherit;
}
fieldset {
    border: 0;
}
input:focus,
select:focus {
    background-color: $primary-color;
}

//////////* HOME PAGE STYLING *///////

/* SCROLLING MARQUEE */
.marquee,
.static-marquee-mobile {
  background-color: darken($background, 10%);
  font-weight: bold;
  padding: 5px;
  span {
      font-size: 0.9em;
  }
  marquee {
      width: 50%;
  }
}

.static-marquee-mobile {
    display: none;
    font-size: 0.8em;
    span {
        font-size: 0.9em;
    }
}

/* IMAGE SLIDESHOW */

/* DIV */
.banner {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.slideshow-container {
    position: relative;
    width: 30vw;
}
/*Slideshow image */
.banner-slide {
    display: none;
}
.banner-img {
    width: 30vw;    
    border-radius: 5px;
}
/* Previous/Next Styling */
.slideshow-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev,
.next,
.prevImage,
.nextImage {
    cursor: pointer;
    padding: 5px;
    color: darken($primary-color, 10%);
    transition: 0.6s ease;
    &:hover {
    color: $font-color;
    opacity: 0.8;
    }
}
/* Active Slide dots */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: $primary-color;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }
    
.active, 
.dot:hover {
background-color: $font-color;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* CATEGORY LINKS */
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    background-color: $primary-color;
    margin: 20px 0;
    a {
        text-decoration: none;
        color: $font-color;
    }
}
.category-link {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px;
    min-width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    h2 {
        background-color: $background;
        width: 100%;
    }
    &:hover {
        opacity: 0.6;
    }
}

#jewellery-all {
    background-image: url('/assets/jewellery/Bracelet/feather bracelet/bangle.bracelet.with.feathers-default.jpg');
    background-size: cover;
    background-position: center;
}

#accessories {
    background-image: url('/assets/bags/Pink Bag/light.pink.purse-default.jpg');
    background-size: cover;
    background-position: center;
    
}
#mens {
    background-image: url('/assets/jewellery/Mens/Anchor Bracelet/anchor-bracelet-leather.jpg');
    background-size: cover;
    background-position: center;

}
#other {
    background-image: url('/assets/pins/Rainbow/rainbow.hard.enamel.lapel.pin.jpg');
    background-size: cover;
    background-position: center;

}

/* TABLET & SMALLER */
@media only screen and (max-width: 768px) {
    /*NEWSLETTER SIGN UP SECTION */
    .newsletter {
        padding-bottom: 20px;
    }
    /* SLIDE SHOW */
    .banner {
        display: none;
    }
    /* SWAP MARQUEE FOR STATIC BANNER */
     .static-marquee-mobile {
        display: block;
    }
    .marquee {
        display: none;
    }
    /* REMOVE TOP MARGIN FROM CATEGORY SECTION */
    .categories {
        margin: 0;
    }
    .product-list {
        justify-content: center;
    }
    .product-container {
        padding: 10px !important;
    }
}

/* SMALL MOBILES */
@media only screen and (max-width: 375px) {
    .content-wrap {
        padding-bottom: 7rem;
      }
    
}