@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap");
/*HOME PAGE & GLOBAL STYLING */
body {
  background-color: #F0EFEB;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #72725A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header,
footer {
  background-color: #EDDCD2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  font-size: 0.9rem;
}

h1 {
  font-family: "Mr Bedfort", serif;
}

/* GLOBAL LINK STYLING */
nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #72725A;
}

nav a:hover {
  font-weight: bold;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid #EDDCD2;
}

/* IMAGE SLIDESHOW */
/* DIV */
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slideshow-container {
  position: relative;
  width: 30vw;
}

/*Slideshow image */
.banner-slide {
  display: none;
}

.banner-img {
  width: 30vw;
  border-radius: 5px;
}

/* Previous/Next Styling */
.slideshow-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prev,
.next {
  cursor: pointer;
  padding: 5px;
  color: #EDDCD2;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.prev:hover,
.next:hover {
  color: #72725A;
  opacity: 0.8;
}

/* Active Slide dots */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #EDDCD2;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #72725A;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* CATEGORY LINKS */
.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  background-color: #EDDCD2;
  margin: 20px 0;
}

.categories a {
  text-decoration: none;
  color: #72725A;
}

.category-link {
  height: 250px;
  width: 250px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 5px;
          box-shadow: 1px 2px 5px;
  min-width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.category-link h2 {
  background-color: #F0EFEB;
  width: 100%;
}

.category-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

#jewellery-all {
  background-image: url("/assets/jewellery/Bracelet/feather bracelet/bangle-bracelet-with-feathers.jpg");
  background-size: cover;
  background-position: center;
}

#accessories {
  background-image: url("/assets/bags/light-pink-purse.jpg");
  background-size: cover;
  background-position: center;
}

#mens {
  background-image: url("/assets/jewellery/Mens/Anchor Bracelet/anchor-bracelet-for-men.jpg");
  background-size: cover;
  background-position: center;
}

#other {
  background-image: url("/assets/pins/lightning-hard-enamel-lapel-pin.jpg");
  background-size: cover;
  background-position: center;
}

/*NEWSLETTER SIGN UP FORM */
.signup-form {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup-form input,
.signup-form #submit {
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid transparent;
  outline: none;
  -webkit-box-shadow: 1px 1px 3px;
          box-shadow: 1px 1px 3px;
  font-family: inherit;
  color: inherit;
}

.signup-form input:focus {
  background-color: #EDDCD2;
}

.signup-form #submit {
  background-color: #EDDCD2;
  padding: 5px 10px;
}

.signup-form #submit:hover {
  background-color: #dec0ae;
  cursor: pointer;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-category {
  left: 0;
  height: auto;
}

.sub-category nav li {
  display: block;
  text-align: left;
}

.sub-category nav li:hover {
  font-weight: bold;
  cursor: pointer;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 20px;
}

.product {
  width: 250px;
  height: 350px;
  margin: 10px 30px;
  line-height: 10px;
}

.product img {
  border-radius: 5px;
}

.product .viewProduct {
  background-color: #EDDCD2;
  text-decoration: none;
  color: #72725A;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
}

.product .viewProduct:hover {
  background-color: #dec0ae;
}
